
.news{
    border: solid;
    border-color: blueviolet;
    width: 420px;
    height: 736px;
    margin-top: 10px;
    margin-left: -50px;
    background-color:rgb(10, 9, 9);
    position:relative;
    
}
/***********/
#v{
    font-family: Bradley Hand, cursive;
    margin-top: 30px;
    color: white;
    font-size: 40px;
    margin-left: 50px;
    
    
}
/*********/
.side1{
    margin-top: -730px;
    margin-left: 1300px;
    position: relative;
}

.side2{
    margin-top: -700px;
    margin-left:50px;
    position: relative;
}

#cur1{
    height: 100px;
    width: 100px;
    margin-left: 90px;
    padding-left: 150px;
    transform: rotate(3.142rad);
    position: relative;
    
}

/*************/

#ar1{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    margin-top: -20px;
    color: white;
 
}
/************************/
#ar2{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    color: white;
}
/****/
#ar3{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    color: white;
}
/**************/
#ar33{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
/**********************************/
#gif{
    height: 180px;
    width:300px;
    border-radius: 5px;
}
/****/
#gif2{
    height: 180px;
    width:300px;
    border-radius: 5px; 
}
/************/
#gif3{
    height: 180px;
    width: 300px;
    border-radius: 5px;
}
.liink{
    border: none;       
    width: 330px;
    height: 736px;
    position: absolute;
    margin-top: -550px;
   margin-left: 1280px;
   background-color: rgb(10, 9, 9);
   

}

.liink1{
    border: none;       
    width: 330px;
    height: 736px;
    position: absolute;
    margin-top: -550px;
   margin-left: -50px;
   background-color: rgb(10, 9, 9);
   

}
/**********/
#ar111{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    margin-top: -20px;
    color: white;
    margin-left: 20px;
 
}
/********/
#ar222{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    
}

body {
    min-width: 960px; /* Set a minimum width for the body */
    margin: 0 auto; /* Center the content horizontally */
    background-color: #080808;
    line-height: 1.6;
    margin-left: 70px;
}

.container {
    max-width: 1200px; /* Limit the maximum width of the content */
    margin: 0 auto; /* Center the content horizontally within the container */
    padding: 20px; /* Add padding for spacing within the container */
 
  
}


/***/
#t{
    font-family: Bradley Hand, cursive;
    margin-top: -3px;
    color: white;
    font-size: 40px;
    text-align: center;
}

/**/#giff{
    height: 180px;
    width:300px;
    border-radius: 5px;
    margin-left: 10px;
}

a{
    color:  #080808;
}


#gif22{
    height: 180px;
    width:300px;
    border-radius: 5px; 
    margin-left: 10px;
}

/***/
#curr{
    height: 100px;
    width: 100px;
    margin-left: 175px;
    margin-top:-40px;
    
}

/**/
#ar11{
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    margin-top: -8px;
    color: white;
 
}

#h{
    height: 150px;
    margin-left: 450px;
    margin-top: 2px;
    width: 150px;
}

#info{
    font-family: Bradley Hand, cursive;
    font-size:25px;
    color: white;   
    margin-top: -180px;
    margin-left: 540px;
    animation-name: light;
    animation-duration: 6s;
    animation-iteration-count: infinite;
   
   
}
/**/
@keyframes light {
    from{
        opacity: 0;
        color: aliceblue;
    }
    to{
        opacity: 1;
       
    }}

#n{
    font-family: Bradley Hand, cursive;
    font-size:25px;
    color: white; 
    margin-top: 30px;
    margin-left: 550px;
    animation-name: light;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
    
#b{
   height: 120px;
    margin-top: -170px;
    margin-left: 460px;

}
/**/
#crystal {
    height: 90px;
    margin-top: -380px;
    margin-left: 90px;
    position: absolute;
 
}
/**/
#crystal1{
    height: 90px;
    margin-top: -750px;
    margin-left: 990px;
    position: absolute;
 
}
/********/
.reasons{
    margin-left: -50px;
 
}

/**/
@keyframes light {
    from{
        opacity: 2;
        color: aliceblue;
    }
    to{
        opacity: 0;
       
    }}

/*  */

    .logo-container {
        position: relative;
        display: inline-block;
       
        margin-left: 50px;
      }
      
      a{
        color: #080808;
         padding-left: 50px;
         font-family: Bradley Hand, cursive;
          font-size:20px;
 
        
      }
      .menuu {
        display: block;
        position:static;
        top: 100%;
        left: 0;
        margin-left: -550px;
        padding: 10px;
        padding-top: 50px;
        margin-top:-100px;

        .slideshow-container{
            margin-top: 50px;
            position: static;
        }
      
       
        
      }
      
      .logo-container:hover .menuu{
        display: block;
        margin-left: 50px;
        margin-left: 50px;
        height: 100px;
        width: 500px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: background-color 0.3s ease;
        border-radius: 5px;
        margin-top: -150px;
        position:relative;
        
      }
      
     #tiny{
        height: 50px;
        margin-top: 20px;
        margin-left: 2px;
     }
     /*  */

     #load{
       margin-top: -150px;
       height: 100px;
     }

     /***********************/
     .down{
        border: solid;
        margin-top: 180px;
        height: 900px;
        width: 850px;
        background-color: #080808;
        margin-left: 330px;
     }
.down:hover{
    background-color: rgb(103, 102, 100);
    opacity: 0.2 ;
    transform: 0.6s;
}

     #true{
        margin-top:150px;
        margin-left: 1250px;
        font-family: Bradley Hand, cursive;
        font-size:20px;
        color: white; 
     }


     #wt{
        margin-left: 1250px;
        height: 180px;
        width:300px;
        border-radius: 5px;
     }

     #pop{
        
        margin-left: 1270px;
        font-family: Bradley Hand, cursive;
        font-size:20px;
        color: white; 
     }

     #pp{
        margin-left: 1250px;
        height: 180px;
        width:300px;
        border-radius: 5px;
     }


     #games{
        
        margin-left: 70px;
        margin-top: -600px;
        font-family: Bradley Hand, cursive;
        font-size:20px;
        color: white; 
     }

     #gif18{
        height: 180px;
        width:300px;
        border-radius: 5px;
        margin-left: 70px;
     }
     

     #mtv{
        margin-left: 70px;
        margin-top: 10px;
        font-family: Bradley Hand, cursive;
        font-size:20px;
        color: white; 
     }

     #mv{
            height: 180px;
            width:300px;
            border-radius: 5px;
            margin-left: 70px;
         }
     /**********/
     #n1{
        font-family: Bradley Hand, cursive;
        font-size:30px;
        color: rgb(71, 2, 2);
        margin-left: 50px;
        margin-top: 15px;                                               
     }

     #ed{
        font-family: Bradley Hand, cursive;
        font-size:20px;
        color: white; 
        margin-left: 20px;
        margin-top: 10px;
     }

     #edw{
        height: 200px;
        width: 300px;
       border-radius: 10px;
       margin-left: 530px;
       margin-top: -80px;
     }
/*  */
#edw:hover{ 
    background-color: navajowhite;
    opacity: 0.2 ;
    transform: 0.6s;
 }
     #info1{
        font-family: Bradley Hand, cursive;
        font-size:15px;
        color: white; 
        margin-top: -120px;
        margin-left: 50px;
       /*letter-spacing: 0.2em;*/
       line-height: 25px;

     }
     /*  */
     #space{
     font-family: Bradley Hand, cursive;
     font-size:20px;
     color: white; 
     margin-left: 20px;
     margin-top: 60px;}

     #jam{
        height: 200px;
        width: 300px;
       border-radius: 10px;
       margin-left: 530px;
       margin-top: -210px;
     }

     #info2{
        font-family: Bradley Hand, cursive;
        font-size:15px;
        color: white; 
        margin-top: 20px;
        margin-left: 20px;
       /*letter-spacing: 0.2em;*/
       line-height: 25px;

     }
     /*  */
     #eleven{
        font-family: Bradley Hand, cursive;
        font-size:20px;
        color: white; 
        margin-left: 20px;
        margin-top: 50px;}
     
/*  */
#fu{

    font-family: Bradley Hand, cursive;
    font-size:15px;
    color: white; 
    margin-left: 20px;
    margin-top: -120px;
    line-height: 25px;
}
    /*  */
        #jh{
            height: 200px;
            width: 300px;
           border-radius: 10px;
           margin-left: 530px;
           margin-top: -60px;
        }




        #over{
            color: white;
            margin-top: 80px;
            position:absolute;
            margin-left: 350px;
        
            font-family: Bradley Hand, cursive;
            font-size:20px;
        }
        
        .footer{
                width: 1805px;
            height: 200px;
            margin-left: -20px;
            margin-top: 50px;
            background-color: rgb(10, 9, 9);
        }
        
        
        #over1{
            color: white;
            margin-top: 80px;
            position:absolute;
            margin-left: 550px;
        
            font-family: Bradley Hand, cursive;
            font-size:20px;
        }
        
        #over2{
            color: white;
            margin-top: 80px;
            position:absolute;
            margin-left: 750px;
        
            font-family: Bradley Hand, cursive;
            font-size:20px;
        }
        
        
        #over3{
            color: white;
            margin-top: 80px;
            position:absolute;
            margin-left: 1000px;
        
            font-family: Bradley Hand, cursive;
            font-size:20px;
        }


        .from{
            font-family: Bradley Hand, cursive;
            font-size:20px;
            color: white;
            margin-left: 550px;
            margin-top: -210px;
            position: absolute;
            font-size: 25px;
        }

        .menu{
            
            margin-left: 450px;
            position: relative;
            margin-top:40px;
        }

        .pulp{
            margin-left: 10px;
            margin-top: -930px;
            height: 150px;
            position: absolute;
            
        }
        .pulp1{
            margin-left: 1040px;
            margin-top: -930px;
            height: 150px;
            position: absolute;
            
        }


        .mine{
            height: 500px;
        }

        .one{
            font-family: Bradley Hand, cursive;
            font-size:15px;
            color: white;
         margin-top: -80px;
            margin-left: 400px;
            height: 500px;
            position: absolute;
            border: solid;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 30px;
            padding-top: 20px;
          

        }



        .box1{
            border: solid;
            height:1450px;
            width:900px;
            background-color: rgb(10, 9, 9);
            margin-left: -150px;
            margin-top: 10px;
            position: relative;
        }



        
#logo{
    height: 150px;
    width: 250px;
    margin-left:160px;
    margin-top: 10px;

    /*margin-top: -750px;*/
}



.box2{
    border: solid;
    height: 900px;
    width:700px;
    background-color: rgb(10, 9, 9);
    margin-left: 50px;
    margin-top: 100px;
    position: relative;
    border-radius: 20px;
}

.big1{
    margin-left: -100px;
   
    

}
/********/
.big2{
    margin-top: 950px;
}
.box3{
    border: solid;
    height: 905px;
    width:740px;
    background-color: rgb(10, 9, 9);
    margin-left: 850px;
    margin-top: -905px;
    position: relative;
    border-radius: 20px;
}
.box3:hover{
    background-color: rgb(132, 122, 122);}

/****/
#i{
    font-family: Bradley Hand, cursive;
    font-size:20px;
    color: white; 
    line-height: 30px;
    margin-left: 20px;
    padding-left: 150px;
  position: relative;
    padding-top: 50px;
 
}
/**********/
#i:hover{
    color: rgb(81, 7, 7);
}
/*******/
.rread{
    font-family: Bradley Hand, cursive;
    color: white;
}


#ii{
    font-family: Bradley Hand, cursive;
    font-size:20px;
    color: white; 
    margin-top: 10px;
    line-height: 30px;
    width: 950px;
   margin-left: 150px;
  position: relative;
   
   
   

}

.class{
    font-family: Bradley Hand, cursive;
    font-size:20px;
    color: white; 
    margin-top: 20px;
    margin-left: 450px;
    position: relative;
}

h3{
    font-family: Bradley Hand, cursive;
    padding-top: 50px;
    color: white; 
    font-size: 25px;
    text-align: center;
}

.read{
    font-family: Bradley Hand, cursive;
    color: white;
    margin-top: -300px;
    position: absolute;
    margin-left: 950px;
   
}



.read:hover{
    background-color: rgb(103, 102, 100);
    opacity: 0.2 ;
    transform: 0.6s;
}

/**********/
#cr{
    height: 100px;
    width: 100px;
    margin-left: 90px;
    margin-top:-30px;
    padding-left: 950px;
    
}

.web{
    margin-left: 10px;
    margin-top: -45px;
}

.most{
    font-family: Bradley Hand, cursive;
    color: white;
    margin-left: 200px;
    margin-top: 80px;
    font-size: 30px;
}
.ac{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-top: -140px;
    margin-left: -280px;
    position: absolute; 
}

/********/
#I{
    font-family: Bradley Hand, cursive;
    font-size:15px;
    color: white; 
    line-height: 30px;
    padding-left: 15px;
    
 
}
/********/
#II{
    font-family: Bradley Hand, cursive;
    font-size:15px;
    color: white; 
    line-height: 30px;
    padding-left: -5px;
    padding-top: -60px;
}


/*****/
.mx{
    height: 200px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 10px;
   
}
.mx1{
    height: 200px;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 10px;
   
}
/******/

#II{
    font-family: Bradley Hand, cursive;
    font-size:15px;
    color: white; 
    margin-top: 50px;
    line-height: 30px;
    width: 950px;
   margin-left: 20px;
  position: relative;
   
   

}
/*******/
#II1{
    font-family: Bradley Hand, cursive;
    font-size:15px;
    color: white; 
    margin-top: 50px;
    line-height: 30px;
    width: 950px;
   margin-left: 45px;
  position: relative;
   
   

}


.disney{
    padding-top: 10px;
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 20px;
}

.director{
    border: solid;
    height: 700px;
    width:700px;
    background-color: rgb(10, 9, 9);
    margin-left: 750px;
    margin-top: 50px;
    position: relative;
}


#d{
    padding-left: 10px;
    margin-top: -20px;
}

/**********/
#Id{
    font-family: Bradley Hand, cursive;
    font-size:15px;
    color: white; 
    line-height: 30px;
    padding-top: 50px;
    padding-left: 50px;
    
 
}

/*******/
.classy{
    font-family: Bradley Hand, cursive;
    margin-left: -500px;
    margin-top: 10px;
    color: white; 
}

#mi{
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    color: white; 
    padding-left: 80px;
}

.mini{
    border: solid;
    height: 200px;
    width:450px;
    background-color: rgb(10, 9, 9);
    margin-left: 300px;
    text-align: left;
   
}

.mini1{
    border: solid;
    height: 200px;
    width:450px;
    background-color: rgb(10, 9, 9);
    margin-left: 800px;
    margin-top: -205px;
}

/******/
#mi1{
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    color: white; 
    padding-left:80px;}

.mini1:hover{
background-color: rgb(117, 11, 11);}
.mini2:hover{
    background-color: rgb(117, 11, 11);}
    .mini3:hover{
        background-color: rgb(117, 11, 11);}
        .mini:hover{
            background-color: rgb(117, 11, 11);}
/***********/
.mini2{
    border: solid;
    height: 200px;
    width:450px;
    background-color: rgb(10, 9, 9);
    margin-left: 300px;
    text-align: left;
    margin-top: 20px;
   

}
.poster{
    margin-top: 50px;
    margin-left: -110px;
}
/****/
#mi2{
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    color: white; 
    padding-left: 80px;
}
/****/
.mini3{
    border: solid;
    height: 200px;
    width:450px;
    background-color: rgb(10, 9, 9);
    margin-left: 780px;
    text-align: left;
    margin-top: -200px;
    margin-left: 795px;
   

}

/****/
#mi3{
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    color: white; 
    padding-left: 100px;
}

#gem{
    height: 100px;
    margin-top: 20px;
    margin-left: -60px;
    position: absolute;
}

/******/
#cluless{
    height: 300px;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 20px;
}
/**/
#park{
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
}
/****/
#helena{
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
}
/****/
#matrix{
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
}
/*******/
#sheet{
    height: 300px;
    border-radius: 10px;
    margin-left: -20px;
    margin-top: 20px;
}
/*****/

/***/
.some{
    text-align: center;
    font-family: Bradley Hand, cursive;
    color: white;
    margin-left: -50px;
    font-size: 25px;

}
/*******/
#Helena:hover{
    background-color: rgb(16, 13, 9);
   
    
}

.ka{
    height: 250px;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 30px;
    animation-name: light;
    animation-duration: 6s;
    animation-iteration-count: infinite;
   
}
/**/
@keyframes light {
    from{
        opacity: 0;
        color: aliceblue;
    }
    to{
        opacity: 1;
       
    }}
/***/
@keyframes light1 {
    from{
        opacity: 0;
        color: aliceblue;
    }
    to{
        opacity: 1;
       
    }}
/**/



/**/
.ka2{
    height: 250px;
    border-radius: 20px;
    margin-left: 900px;
    animation-name: light;
    margin-top: -250px;
    position: relative;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.h{
    height: 250px;
    border-radius: 20px;
    animation-name: light1;
    margin-left: 650px;
    margin-top: 50px;
    animation-duration: 3s;
    animation-iteration-count: infinite;}
.ho{
    color: white;
    position: absolute;
    margin-top: 150px;
    margin-left: -250px;
}

.animation{
    border: solid;
    height: 680px;
    width:760px;
    background-color: rgb(10, 9, 9);
    margin-left: 450px;
    margin-top: 20px;}


    .animation{
       animation-name: slide;
       animation-duration: 5s;
       animation-delay: 1s;
       animation-iteration-count: 2;
    }
    @keyframes slide {
        from{
            background-color: rgb(10, 9, 9);
           
        }
        to{
            background-color: #080808;
            transform: rotate(0.5turn);

        }
        
    }
/**/
.made{
    font-family: Bradley Hand, cursive;
    color: white;
    padding-left: -50px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

.camera{
    height: 150px;
    position: absolute;
    margin-left: 580px;
    
}
/**/
.camera1{
    height: 150px;
    position: absolute;
    margin-left: 50px;
    margin-top: -20px;    
}
/**/
#tiny{
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 20px;
    margin-left: 25px;
   
}

/**/
#tiny1{
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 20px;
    margin-left: 25px;
    margin-top: -60px;
}
/**/
#tiny3{
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 20px;
    margin-left: 22px;
    margin-top: -55px;
}

/******/
.news1{
    border: solid;
    border-color: #080808;
    width: 350px;
    height: 736px;
    margin-top: -600px;
    margin-left: 50px;
    background-color:rgb(10, 9, 9);
    position:relative;
    
}


/***/
#curep2{
    height: 100px;
    width: 100px;
    margin-left: 80px;
    position: relative;
    margin-top:-60px;
    
}

/**/
.news2{
    border: solid;
    border-color: #080808;
    width: 350px;
    height: 736px;
    margin-top: -600px;
    margin-left: 1300px;
    background-color:rgb(10, 9, 9);
    position:relative;
    
}

/**/
.ka3{
    height: 250px;
    
    border-radius: 20px;
    margin-left: 950px;
    margin-top: -120px;
    position: sticky;   
    animation-name: light;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
/**/
#main{
    font-family: Bradley Hand, cursive;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}


.fant{
    font-family: Bradley Hand, cursive;
    color: white;
    margin-left:-270px;
    margin-top: 150px;
    position: absolute;
}

.hor{
    font-family: Bradley Hand, cursive;
    color: white;
    margin-left: 450px;
    margin-top: -150px;
    padding-left: 150px;
    position: sticky;
}

/***/
.dr{
    font-family: Bradley Hand, cursive;
    color: white;
    margin-left: 450px;
    margin-top: -150px;
    padding-left: 700px;
    position: sticky;
}