body{
    background-color: #080808 ;
}


#logo{
    height:150px;
    width: 250px;
    margin-left: 590px;
    margin-top: 50px;
}

h2{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-family: Bradley Hand, cursive;
}

.all{
    margin-left: 50px;
}
#q1{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left:150px;
    border: solid;
    border-radius: 20px;
    width: 350px;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 60px;
}

#q2{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 150px;
    border: solid;
    border-radius: 20px;
    width: 350px;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 60px;
}
#q3{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 150px;
    border: solid;
    border-radius: 20px;
    width: 350px;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 60px;
}

#prepo{
    border: white;
    padding-top: 20px;
    font-family: Bradley Hand, cursive;
    margin-left: 150px;
    border: solid;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-left: 10px;
    text-align: center;
    margin-left: 150px;
    margin-top: 30px;
}
/******/
#truerespond1{
    margin-left: 120px;
    margin-top: 60px;
    position: absolute;
    
}
/********/
#truerespond2{
    margin-left:540px;
    margin-top: 60px;
    position: absolute;
    
}
/********/
#truerespond3{
    margin-left:540px;
    margin-top: 150px;
    position: absolute;
    
}
/******/
#truerespond4{
    margin-left:120px;
    margin-top: 140px;
    position: absolute;
    
}
/*******/
#true1{
    margin-left: 120px;
    margin-top: 430px;
    position: absolute;
    
}
/*****/
#true2{
    margin-left: 550px;
    margin-top: 430px;
    position: absolute;
    
}
/****/
#true4{
    margin-left: 550px;
    margin-top: 540px;
    position: absolute;
    
}
/**/
#true3{
    margin-left: 120px;
    margin-top: 540px;
    position: absolute;
    
}
/****/
#true{
    margin-left: 120px;
    margin-top: 820px;
    position: absolute;
    
}
/*****/
#truee1{
    margin-left: 550px;
    margin-top: 820px;
    position: absolute;
    
}
/**/
#truee2{
    margin-left: 120px;
    margin-top: 910px;
    position: absolute;
    
}
/*****/
#truee3{
    margin-left: 550px;
    margin-top: 910px;
    position: absolute;
    
}
#one{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: -160px;
    /*border: solid;
    border-radius: 20px;
    width: 150px;
    height: 60px;*/
    padding-top: 20px;
    margin-top: -70px;
    position: relative;
    padding-left: 10px;
    text-align: center;
}
.one:hover{
    color:#080808;
}
/*********/

#prepo2{
    color: white;
    
    font-family: Bradley Hand, cursive;
    margin-left: 350px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: -90px;
    padding-left: 10px;
    text-align: center;
    position: relative;
}
#prepo3{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 350px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
}

#prepo4{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 150px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: -90px;
    padding-left: 10px;
    text-align: center; 
}

#pre{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 150px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: 40px;
    padding-left: 10px;
    text-align: center;
}


#pre1{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 350px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: -89px;
    padding-left: 10px;
    text-align: center;
}

#pre2{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 150px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: 35px;
    padding-left: 10px;
    text-align: center;
}


#pre3{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left:350px;
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding-top: 20px;
    margin-top: -90px;
    padding-left: 10px;
    text-align: center;
}
.button{
    margin-top: 40px;
    padding-top: -10px;
    margin-left: 250px;
    height: 50px;
    width: 150px;
    font-family: Bradley Hand, cursive;
}


.button:hover{
     background-color: bisque;

}
/************/
#prepo:hover{
    background-color: rgb(238, 229, 217);
    opacity: 0.2 ;
    transform: 0.6s;
}


img{
    margin-left:100px;
}

.quiz{
    border: solid;
    background-color: rgb(10, 9, 9);
    width: 630px;
    height: 1600px;
    margin-top: 50px;
    margin-left:440px;
}

.news{
    border: none ;
    width: 430px;
    height: 736px;
    margin-top:-1780px;
    margin-left: 1100px;
    background-color:rgb(10, 9, 9);
    position: sticky;
    
}

#v{
    font-family: Bradley Hand, cursive;
    margin-top: 140px;
    color: white;
    font-size: 40px;
    margin-left: 70px;
    
    
}
/*********/
#cur{
    height: 100px;
    width: 100px;
    margin-left: 200px;
    margin-top:-50px;
    
}

.link{
    border: none;       
    width: 430px;
    height: 736px;
   margin-top: -1900px;
   margin-left: -10px;
   background-color: rgb(10, 9, 9);
   

}


#t{
    font-family: Bradley Hand, cursive;
    padding-top:30px;
    color: white;
    font-size: 40px;
    margin-left: 20px;
}



#curr{
    height: 100px;
    width: 100px;
    margin-left: 175px;
    margin-top:-40px;
    
}

footer{
    margin-top: 100px;
    margin-left: -1200px;
    border: solid;
    background-color: rgb(10, 9, 9);
    height: 150px;
}


#final{
    color: white;
    text-align: center  ;
    margin-top: 80px;
    margin-left: 50px;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
}
#lineone{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    margin-left:10px;
    line-height: 25px;
}

#linetwo{
    color: white;
    font-family: Bradley Hand, cursive;
    margin-left: 20px;
    font-size: 15px;
    line-height: 25px;
    
}
h3{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 25px;
    text-align: center;
}

#scream{
    height: 300px;
    margin-top: 10px;
    margin-left: 70px;
    border-radius: 20px;
}


#tess{
    height: 200px;
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}
.about{
    border: solid;
    color: aqua;
    margin-top: 650px;

}

#cast{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}


#dec{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    margin-left:10px;
    line-height: 25px;
    text-align: start;
    margin-top:50px;
}


#syd{
    border-radius: 20px;
    height: 150px;
    margin-top: -250px;
    margin-left: 250px;

}


#pro{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    margin-left: 20px;
}


#ref{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 25px;
    margin-top: 50px;
}

#elm{
    height: 150px;
    border-radius: 20px;
    margin-left: 70px;
}


#cast{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
}

#award{
    height: 200px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

 #linethree{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
 }


 #dvd{
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    font-size: 15px;
    line-height: 25px;
 }

 #vhs{
    height: 250px;
    margin-left: 50px;
 }


 #part3{
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    font-size: 15px;
    line-height: 25px;
    color: white;
 }


 #highschool{
    height: 350px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: -10px;
 }






.syd{
    height: 200px;
    margin-left: -590px;
    margin-top:-70px;
}


.bill{
    height: 200px;
    margin-left: 50px;
    margin-top:-70px;
}


.casey{
    height: 200px;
    margin-left: -450px;
    margin-top:200px;
    position:absolute;
}


.randy{
    height: 200px;
    margin-left: -190px;
    margin-top:200px;
    position: absolute;
}

.jour{
    height: 200px;
    margin-left: -680px;
    margin-top:60px;
    position: absolute;
}

.dew{
    height: 200px;
    margin-left: 50px;
   margin-top: 60px;
   position: absolute;
}

.mathew{
    height: 200px;
    margin-left: -450px;
   margin-top: 10px;
   position: absolute;
}
.cast{
    margin-top: 140px;
}

#ti{
    font-family: Bradley Hand, cursive;
    font-size: 40px;
   margin-left: -1200px;
   margin-top: -30px;

    line-height: 25px;
    color: white;
    
}


#castone{
    margin-left: -1400px;
    font-size: 15px;
}


#casttwo{
    margin-left: -1890px;
    text-align: center;
    margin-top: 120px;
    font-size: 15px;
}


#castthree{
    margin-left: -400px;
   margin-top:-30px;
    font-size: 15px;
    text-align: center;
}


#castfour{
    margin-left: -900px;
    margin-top:-180px;
     font-size: 15px;
     text-align: center;
}


#castfive{
    margin-left: -900px;
    margin-top:250px;
     font-size: 15px;
     text-align: center;
}


#castsix{
    margin-left: -1400px;
    margin-top:-30px;
     font-size: 15px;
     text-align: center;
}


#castseven{
    margin-left: -1110px;
    margin-top:250px;
    position: sticky;
     font-size: 15px;
     text-align: center;
}


img:hover{
    background-color: rgba(0, 0, 0, 0.199);
opacity: 0.2 ;
transform: 0.6s;}


#copy{
    margin-top: -120px;
    position:sticky;
    margin-left: -700px;
}




#copy1{
    margin-top: -120px;
    position:sticky;
    margin-left: 700px;
}



.menu{
   
    margin-top:10px;
}


.logo-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  a{
    color: #080808;
     padding-left: 50px;
     font-family: Bradley Hand, cursive;
      font-size:20px;

    
  }
  .menuu {
    display: block;
    position:absolute;
    top: 100%;
    left: 0;
 
    padding: 10px;
    padding-top: 50px;
   
   
    
  }
  
  .logo-container:hover .menuu{
    display: block;
    margin-top: -150px;
    margin-left: 500px;
    height: 100px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    border-radius: 5px;
    
  }